*~
.project
.classpath
target
.settings
.DS_Store
.MANIFEST
*.iml
.idea
syntax: glob
pom.xml.orig
rebel.xml
**/*.versionsBackup

eb-socle-webapp-module/eb-socle-webapp/build/exceptions/*

eb-socle-ws-server-module/eb-socle-ws-server/src/main/config/local/log4j.properties.orig
eb-socle-webapp-module/eb-socle-webapp/src/main/resources/securityMyec3Context.xml.orig
eb-socle-webapp-module/eb-socle-webapp/src/main/resources/org/myec3/socle/webapp/pages/organism/agent/View.tml.orig
eb-socle-webapp-module/eb-socle-webapp/src/main/resources/org/myec3/socle/webapp/pages/organism/Modify.tml.orig
eb-socle-webapp-module/eb-socle-webapp/src/main/resources/org/myec3/socle/webapp/pages/company/employee/ViewRoles.tml.orig
eb-socle-webapp-module/eb-socle-webapp/src/main/resources/org/myec3/socle/webapp/pages/company/employee/View.tml.orig
eb-socle-webapp-module/eb-socle-webapp/src/main/resources/org/myec3/socle/webapp/pages/company/employee/ListEmployees.tml.orig
eb-socle-webapp-module/eb-socle-webapp/src/main/resources/org/myec3/socle/webapp/components/AgentForm.tml.orig
eb-socle-webapp-module/eb-socle-webapp/src/main/resources/org/myec3/socle/webapp/components/AgentForm.properties.orig
eb-socle-webapp-module/eb-socle-webapp-core/src/main/java/org/myec3/socle/webapp/pages/user/RegeneratePassword.java.orig
eb-socle-webapp-module/eb-socle-webapp-core/src/main/java/org/myec3/socle/webapp/pages/organism/agent/View.java.orig
eb-socle-webapp-module/eb-socle-webapp-core/src/main/java/org/myec3/socle/webapp/pages/organism/agent/Modify.java.orig
eb-socle-webapp-module/eb-socle-webapp-core/src/main/java/org/myec3/socle/webapp/pages/organism/agent/ListAgents.java.orig
eb-socle-webapp-module/eb-socle-webapp-core/src/main/java/org/myec3/socle/webapp/pages/organism/agent/Create.java.orig
eb-socle-webapp-module/eb-socle-webapp-core/src/main/java/org/myec3/socle/webapp/pages/company/employee/View.java.orig
eb-socle-webapp-module/eb-socle-webapp-core/src/main/java/org/myec3/socle/webapp/pages/company/employee/Modify.java.orig
eb-socle-webapp-module/eb-socle-webapp-core/src/main/java/org/myec3/socle/webapp/pages/company/employee/ListEmployees.java.orig
eb-socle-webapp-module/eb-socle-webapp-core/src/main/java/org/myec3/socle/webapp/pages/company/Create.java.orig
eb-socle-webapp-module/eb-socle-webapp-core/src/main/java/org/myec3/socle/webapp/pages/AbstractPage.java.orig
eb-socle-webapp-module/eb-socle-webapp-core/src/main/java/org/myec3/socle/webapp/components/AgentForm.java.orig
eb-socle-core/src/main/java/org/myec3/socle/synchro/api/JMSSynchronizationServiceImpl.java.orig
eb-socle-core/src/main/java/org/myec3/socle/core/service/impl/UserServiceImpl.java.orig
eb-socle-core/src/main/java/org/myec3/socle/core/service/impl/OrganismServiceImpl.java.orig
eb-socle-core/src/main/java/org/myec3/socle/core/service/impl/EmployeeProfileServiceImpl.java.orig
eb-socle-core/src/main/java/org/myec3/socle/core/domain/dao/jpa/JpaRoleDao.java.orig
eb-socle-contract/src/main/java/org/myec3/socle/core/domain/model/enums/OrganismINSEECat.java.orig
eb-socle-contract/src/main/java/org/myec3/socle/core/domain/model/User.java.orig
