*~
.project
.classpath
target
.settings
.DS_Store
.MANIFEST
*.iml
.idea
syntax: glob
pom.xml.orig
rebel.xml
**/*.versionsBackup

/myec3-socle-synchro-module/myec3-socle-synchro/src/main/config/local/db/local/db.properties
/myec3-socle-webapp-module/myec3-socle-webapp/src/main/config/local/db/local/db.properties
