

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <module-name>customer-portal</module-name>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>private</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>public</web-resource-name>
            <url-pattern>/singlelogout</url-pattern>
            <url-pattern>/singlelogout/</url-pattern>
            <url-pattern>/health</url-pattern>
            <url-pattern>/resources/errorAccess.html</url-pattern>
            <url-pattern>/static/*</url-pattern>
            <url-pattern>/externe/*</url-pattern>
            <url-pattern>/assets/*</url-pattern>
            <url-pattern>/modules.gz/*</url-pattern>
            <url-pattern>/megalis.ico</url-pattern>
            <url-pattern>/company/siren</url-pattern>
            <url-pattern>/company/siren/</url-pattern>
            <url-pattern>/company/siren.modification_form</url-pattern>
            <url-pattern>/company/siren.modification_foreign_form</url-pattern>
            <url-pattern>/company/init</url-pattern>
            <url-pattern>/company/init.modification_form</url-pattern>
            <url-pattern>/company/init.creationdate:format</url-pattern>
            <url-pattern>/company/init.person_list:injectrow</url-pattern>
            <url-pattern>/company/init.person_list:triggerremoverow</url-pattern>
            <url-pattern>/company/establishment/create</url-pattern>
            <url-pattern>/company/establishment/create/</url-pattern>
            <url-pattern>/company/establishment/create/*</url-pattern>
            <url-pattern>/company/establishment/create.modification_form</url-pattern>
            <url-pattern>/company/create</url-pattern>
            <url-pattern>/company/create.modification_form</url-pattern>
            <url-pattern>/company/view</url-pattern>
            <url-pattern>/user/regeneratepassword</url-pattern>
            <url-pattern>/user/regeneratepassword/</url-pattern>
            <url-pattern>/user/regeneratepassword.regenerate_password_form</url-pattern>
            <url-pattern>/user/newpassword.new_password_form</url-pattern>
            <url-pattern>/user/newpassword/*</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>this is ignored currently</realm-name>
    </login-config>

    <security-role>
        <role-name>user</role-name>
    </security-role>
</web-app>

